#all{
    background-color: slategray; 
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size:20px;
    color:whitesmoke;
    border: 1px solid whitesmoke;
    margin:auto;
    font-weight:bold
}

